pipeline/Daily Load.json
{
	"name": "Daily Load",
	"properties": {
		"activities": [
			{
				"name": "File transfer",
				"description": "This activity loads files that are present on-prem to azure blob storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OnPrem",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							},
							"Sheet": {
								"value": "@pipeline().parameters.Sheet",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureBlob",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "synapsepoc1230-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "mydedicatedsqlpool"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('declare @date datetime=CURRENT_TIMESTAMP;\n        declare @max_id int;\n        select @max_id=(coalesce(max(id),0)+1) from [dbo].[Pipeline_Logging];\ninsert into [dbo].[Pipeline_Logging] values(@max_id,''',pipeline().RunId,''',''Running'',@date,NULL)')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "@concat('select max(pipeline_end_time) as LastRunTime from [dbo].[Pipeline_Logging]')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalyticsTable",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "mydedicatedsqlpool",
							"schema": "dbo",
							"table": "Pipeline_Logging"
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "File transfer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lookup1').output.firstRow.LastRunTime,null)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1_1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "ROWSTARTDATE",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										},
										{
											"name": "ROWEXPIRATIONDATE",
											"value": {
												"value": "NULL",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": "SB",
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"writeBehavior": "Insert",
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "OnPrem",
										"type": "LinkedServiceReference"
									},
									"path": "mydatalakestorage/SB"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "TRANSACTIONPARTITIONKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TRANSACTIONPARTITIONKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TRANSACTIONKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DAYPARTKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DAYPARTKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TRANSACTIONDATEKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TRANSACTIONDATEKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "BUSINESSDATEKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "BUSINESSDATEKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PROFITCENTERKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PROFITCENTERKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "STOREKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "STOREKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "STORESTATUSKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "STORESTATUSKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ORGANIZATIONKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ORGANIZATIONKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PERIODICORGANIZATIONKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PERIODICORGANIZATIONKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "REGISTERKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "REGISTERKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PTXGUID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PTXGUID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CHARGES",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CHARGES",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DEBIT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DEBIT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DISCOUNTS",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DISCOUNTS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TAXES",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TAXES",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "REMITTANCE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "REMITTANCE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "GUESTCOUNT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "GUESTCOUNT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DRAWERKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DRAWERKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DEBITAMT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DEBITAMT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "REFUNDAMT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "REFUNDAMT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SSSCOUNT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SSSCOUNT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "STORESTATUS2KEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "STORESTATUS2KEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PROFITCENTERKEY_ORIG",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PROFITCENTERKEY_ORIG",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CATERINGKEY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CATERINGKEY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MISCCHARGES",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MISCCHARGES",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CREATEDTIME",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CREATEDTIME",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ROWSTARTDATE",
												"type": "String"
											},
											"sink": {
												"name": "ROWSTARTDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "ROWEXPIRATIONDATE",
												"type": "String"
											},
											"sink": {
												"name": "ROWEXPIRATIONDATE",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureBlob",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(pipeline().parameters.FileName,'.txt')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSynapseAnalyticsTable",
									"type": "DatasetReference",
									"parameters": {
										"DBName": "mydedicatedsqlpool",
										"schema": "dbo",
										"table": "assignment"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string",
				"defaultValue": "Data Engineer Assignment Test Set.xlsx"
			},
			"Sheet": {
				"type": "string",
				"defaultValue": "Sheet1"
			}
		},
		"folder": {
			"name": "SmartBridge_SaiCharan"
		},
		"annotations": []
	}
}