pipeline/One_time_load.json
{
	"name": "One_time_load",
	"properties": {
		"activities": [
			{
				"name": "On-prem_to_stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Create_log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 32,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AssignmentFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AssignmentParquet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stage_to_DWH",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Update_Staging_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@coalesce('SB_Assignment/history/Transaction')",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"allowPolyBase": true,
						"polyBaseSettings": {
							"rejectValue": 0,
							"rejectType": "value",
							"useTypeDefault": true
						},
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "AssignmentParquet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSynapseAnalyticsTable",
						"type": "DatasetReference",
						"parameters": {
							"DBName": "mydedicatedsqlpool",
							"schema": "Assign",
							"table": "transaction"
						}
					}
				]
			},
			{
				"name": "Create_log",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "synapsepoc1321-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "mydedicatedsqlpool"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "pipeline_name",
									"type": "String",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "run_id",
									"type": "String",
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "date",
									"type": "Datetime",
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "user",
									"type": "String",
									"value": "Synapse",
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": "insert into Assign.logging(pipeline_name,pipeline_run_id,run_start_time,row_insert_date,created_by) values(@pipeline_name,@run_id,@date,@date,@user)"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Update_Staging_date",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "On-prem_to_stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "synapsepoc1321-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "mydedicatedsqlpool"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "date",
									"type": "Datetime",
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "user",
									"type": "String",
									"value": "Synapse",
									"direction": "Input"
								},
								{
									"name": "run_id",
									"type": "String",
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": "update Assign.logging set stage_date=@date,Row_update_date=@date,updated_by=@user where pipeline_run_id=@run_id"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Complete_log",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "update_last_runtime_value",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "synapsepoc1321-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "mydedicatedsqlpool"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "date",
									"type": "Datetime",
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "user",
									"type": "String",
									"value": "Synapse",
									"direction": "Input"
								},
								{
									"name": "run_id",
									"type": "String",
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "error",
									"type": "String",
									"value": {
										"value": "@coalesce(activity('On-prem_to_stage')?.error?.Message,activity('Stage_to_DWH')?.error?.Message)",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": "update Assign.logging set completion_date=@date,error_description=@error,Row_update_date=@date,updated_by=@user where pipeline_run_id=@run_id"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "update_last_runtime_value",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Stage_to_DWH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "synapsepoc1321-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "mydedicatedSqlpool"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "date",
									"type": "Datetime",
									"value": {
										"value": "@utcNow()",
										"type": "Expression"
									},
									"direction": "Input"
								},
								{
									"name": "user",
									"type": "String",
									"value": "Synapse",
									"direction": "Input"
								},
								{
									"name": "pipeline_name",
									"type": "String",
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"direction": "Input"
								}
							],
							"type": "NonQuery",
							"text": "update [Assign].[Runtime_param] set last_runtime_value=@date,Row_update_date=@date,Updated_by=@user where pipeline_name=@pipeline_name"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"folder": {
			"name": "Assignment"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-27T07:02:12Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}